# 忽略 Unity 默认文件夹
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Mm]emory[Cc]aptures/
[Oo]bj/
[Tt]emp/
[Uu]ser[Ss]ettings/

# 忽略 Unity 项目文件
*.unityproj

# 忽略 Unity 生成的文件
*.pidb
*.pidb.meta
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta

# 忽略 Shittim Canvs 自定义文件夹
RecordVideos/
Screenshots/

# 忽略 Visual Studio 配置文件夹
.vs/

# 忽略 Visual Studio 项目文件
*.csproj
*.sln
*.suo
*.svd
*.user
*.userprefs
*.vsconfig
*.VC.db

# 忽略 Visual Studio Code 配置文件夹
.vscode/

# 保留资产 .meta 文件
!*/**/*.meta

# 忽略 Unity 字体文件夹
/Assets/Resources/Fonts/Original_Font

# 忽略 Unity 可寻址资源的动态
/Assets/AddressableAssetsData/link.xml
/Assets/AddressableAssetsData/link.xml.meta
