# 忽略 Unity 默认文件夹
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# 忽略 Unity 项目文件
*.unityproj

# 忽略 Shittim Canvs 自定义文件夹
RecordVideos/
Screenshots/

# 忽略 Visual Studio 配置文件夹
.vs/

# 忽略 Visual Studio 项目文件
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.vsconfig

# 忽略 Visual Studio Code 配置文件夹
.vscode/

# 保留资产 .meta 文件
!*/**/*.meta

# 忽略 Unity 字体文件夹
/Assets/Resources/Fonts/Original_Font

# 忽略 Unity 可寻址资源的动态
/Assets/AddressableAssetsData/link.xml
/Assets/AddressableAssetsData/link.xml.meta

# 忽略 Unity 工作区配置
/UserSettings/Layouts/default-2021.dwlt
